body {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/998c1c50-6aaa-4795-ab62-9190a025d529/b9883521-f439-4c16-b5eb-b1719e2fece1/ZA-en-20191203-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    color: white;
    background-size: cover;
}

#container {
    border: 0px solid black;
    margin: 5px 80px 5px 80px;
    background-color: rgba(0, 0, 0, 0.4);
    background-size: 180%;
}

#survey-form {
    width: 350px;
    height: 780px;
    border: 0px solid black;
    margin: auto;
    padding: 5px 100px 58px 30px;
    background-color: rgba(0, 0, 0, 0.8);
}

.title {
    text-align: center;
    font-weight: bolder ;
    margin: 5px 80px 5px 80px;
    padding: 5px 0px 0px 0px;
    letter-spacing: 2px;
}

#first-color {
    color: white;
    font-size: 43px;
    font-family: "Bowlby One SC", cursive;
    letter-spacing: 2px;      
}

#second-color {
    color: red;
    font-size: 43px;
    font-family: "Bowlby One SC", cursive;
    letter-spacing: 2px;  
}

#second-title {
    font-size: 23px;
    font-family: "Sorts Mill Goudy", sans-serif;
}

.location {
    width: 400px;
    height: 36px;
    padding: 5px;
}

#Contenttype {
    width: 385px;
    height: 40px;
}

#submit-center {
    padding-left: 120px;
}

#submit {
    width: 180px;
    border: 0px;
    border-radius: 20px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 20px;
}
#submit:hover{
    background-color: white;
    color: red;
}